@import "tailwindcss";

#root {
  margin: 0;
  height: 100vh;
}

.messenger-container {
  display: flex;
  height: 100%;
}
.chat-sidebar {
  width: 20%;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  margin: 10px;
}

.chat-conatiner {
  width: 100%;
  margin: 10px;
  border: 1px black solid;
  display: grid;
  grid-template-rows: auto 1fr auto;
}
